<!-- Footer -->
<footer id="main-footer" class="pt-4 pt-md-5 border-top text-white bg-dark">
    <div class="container">
		<div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/static/img/logo.jpg" alt="Catamount Realty Group" width="245">
        <small class="d-block mb-3 text-muted">&copy; Catamount Realty Group</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled text-small">
          <li>85 Prim Road Suite 202</li>
          <li>Colchester, Vermont 05446</li>
          <li>Office: 802-658-3210</li>
			<li>Fax: 802-881-0188</li>
          <li><a class="text-white" href="#">Catamountrealtygroup.com</a></li>
			<li><a class="text-white" href="mailto:info@catamountrealtygroup.com">info@catamountrealtygroup.com</a></li>
        </ul>
      </div>
    </div>
	</div>
  </footer>
