{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Catamount Realty Group</h1>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="{% static 'img/Catamount2020Group-scaled.jpg' %}" alt="Catamount Realty Team">
          <p class="mt-4">We specialize in Vermont residential real estate including the listing and sale of single-family homes, townhomes, condos and one to four unit multi-family homes in the following towns and cities: Burlington, South Burlington, Colchester, Essex, Essex Junction, Winooski, Williston and Shelburne, Vermont. We also cover many surrounding towns including Hinesburg, Huntington, Jericho, Milton, Rutland, Saint Albans, Saint George, Stowe and more.</p>
			          <p class="mt-4">We enjoy working with a wide range of clientele from first time home buyers to corporate transferees to retirees. We particularly enjoy working with first time home buyers as we find it very rewarding to help someone find their first home. However, whether you are looking for your first home, a move-up home or a retirement home, we are here to help you and will do everything that we can to make your home buying or selling experience a pleasurable one. Real estate is our passion and we go the extra mile to make sure that every detail is taken care of with the utmost of attention.</p>
			<p class="mt-4">We have an excellent team of professionals who can assist you in all aspects of your home purchase or sale including mortgage bankers, attorneys, home inspectors and handyman referrals. The wonderful team of professionals whom we are fortunate enough to work with strive to make all aspects of your home purchase as pleasant and stress-free as possible. Our team is very diligent and we always respond promptly and with enthusiasm. We are honest, hardworking and full of integrity and care deeply that our customers receive 100% satisfaction. When working with us, you will find an unsurpassed level of commitment and quality service.</p>
			<p class="mt-4">If you are looking for a Realtor and a team you can trust, who care about providing exceptional quality service and always have your best interests at heart, please contact us today. We look forward to hearing from you.</p>
			<p class="mt-4"></p>

        </div>
        <div class="col-md-3">
          {% if mvp_realtors %}
            {% for realtor in mvp_realtors %}
            <div class="card">
                <img class="card-img-top" src="{{ realtor.photo.url }}" alt="Seller of the month">
                <div class="card-body">
                  <h5 class="card-title">Seller Of The Month</h5>
                  <h6 class="text-secondary">{{ realtor.name }}</h6>
                  <p class="card-text">{{ realtor.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if realtors %}
          {% for realtor in realtors %}
          <div class="col-md-3 mx-auto">
              <img style="max-width: 70%;" src="{{ realtor.photo.url }}" alt="{{ realtor.name }}" class=" mb-3">
              <h4>{{ realtor.name }}</h4>
              <p>Realtor</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Realtors Available</p>
          </div>
        {% endif %}       
      </div>
    </div>
  </section>
{% endblock %}
