{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ city.city_name }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ city.city_name }}</h1>
          <p class="lead"> Vermont</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'places' %}">Locations</a>
          </li>
          <li class="breadcrumb-item active">{{ city.city_name }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img src="{{ city.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            {% if city.photo_1 %}
            <div class="col-md-2">
              <a href="{{ city.photo_1.url }}" data-lightbox="home-images">
                <img src="{{ city.photo_1.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if city.photo_2 %}
            <div class="col-md-2">
              <a href="{{ city.photo_2.url }}" data-lightbox="home-images">
                <img src="{{ city.photo_2.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if .photo_3 %}
            <div class="col-md-2">
              <a href="{{ city.photo_3.url }}" data-lightbox="home-images">
                <img src="{{ city.photo_3.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if city.photo_4 %}
            <div class="col-md-2">
              <a href="{{ city.photo_4.url }}" data-lightbox="home-images">
                <img src="{{ city.photo_4.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if city.photo_5 %}
            <div class="col-md-2">
              <a href="{{ city.photo_5.url }}" data-lightbox="home-images">
                <img src="{{ city.photo_5.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if city.photo_6 %}
            <div class="col-md-2">
              <a href="{{ city.photo_6.url }}" data-lightbox="home-images">
                <img src="{{ city.photo_6.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
          </div>
          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
                {{ city.city_description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
